<% layout('/flash/adminNav') %>

<div class="admin-main">
  <nav class="site-nav">
    <button class="sidebar-toggle">
      <span class="material-symbols-rounded">menu</span>
    </button>
  </nav>
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar collapsed">
      <!-- Sidebar header -->
      <div class="sidebar-header">
        <img src="/photos/rep short logo.png" alt="CodingNepal" class="header-logo" />
        <button class="sidebar-toggle">
          <span class="material-symbols-rounded">chevron_left</span>
        </button>
      </div>
      <div class="sidebar-content">

        <!-- Sidebar Menu -->
        <ul class="menu-list">
          <li class="menu-item">
            <a href="#" class="menu-link ">
              <span class="material-symbols-rounded">dashboard</span>
              <span class="menu-label">Dashboard</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link active">
              <span class="material-symbols-rounded"><i class="fa-solid fa-user-graduate"></i></span>
              <span class="menu-label">Students</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">
              <span class="material-symbols-rounded"><i class="fa-solid fa-person-chalkboard"></i></span>
              <span class="menu-label">Teachers</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">
              <span class="material-symbols-rounded"><i class="fa-regular fa-calendar-days"></i></span>
              <span class="menu-label">Class Schedule</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">
              <span class="material-symbols-rounded"><i class="fa-solid fa-building-columns"></i></span>
              <span class="menu-label">Finance</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">
              <span class="material-symbols-rounded"><i class="fa-solid fa-book-open"></i></span>
              <span class="menu-label">Library</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">
              <span class="material-symbols-rounded"><i class="fa-regular fa-user"></i></span>
              <span class="menu-label">Profile</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Sidebar Footer -->
      <div class="sidebar-footer">
        <button class="theme-toggle">
          <div class="theme-label">
            <span class="theme-icon material-symbols-rounded">dark_mode</span>
            <span class="theme-text">Dark Mode</span>
          </div>
          <div class="theme-toggle-track">
            <div class="theme-toggle-indicator"></div>
          </div>
        </button>
      </div>
    </aside>
    <!-- Site main content -->
    <div class="main-content">
      <div class="page-title">
        <div class="title">
          <h1><%= admin.Title %></h1>
          <h6><%= admin.City %> , <%= admin.State %></h6>
        </div>
        <a href="/repulsor/logout">Logout</a>
      </div>

      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Class</th>
            <th>Roll No</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% if (student && student.length > 0) { %>
          <% student.forEach((student, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= student.name %></td>
            <td><%= student.class %></td>
            <td><%= student.rollNumber %></td>
            <td><%= student.email %></td>
          </tr>
          <% }) %>
          <% } else { %>
          <tr>
            <td colspan="5" class="text-center">No students found</td>
          </tr>
          <% } %>
        </tbody>
      </table>




    </div>

  </div>
</div>