<% layout('/flash/flash') %>

<div class="main-nav">
  <div class="main-logo">
    <img src="<%= basicData.logo.url %>" alt="" width="60px" height="60px">
  </div>
  <div class="main-title">
    <h3><%= user.Title %></h3>
    <h6><%= user.City%> , <%= user.State %></h6>
  </div>
  <div class="main-admin">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <div class="hams"></div>
      <div class="hams" style="margin-top: 5px;"></div>
      <div class="hams" style="margin-top: 5px;"></div>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="background-color: #757575; color: white;">
      <h2 style="text-align: center; margin-top: 30px;">Login</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="">Student Login</a></li>
        <li class="list-group-item"><a href="">Staff Login</a></li>
        <li class="list-group-item"><a href="">Admin Login</a></li>
        <li class="list-group-item"><a href="">Management Login</a></li>

      </ul>

    </div>
  </div>


</div>
</div>

<main class="view" style="background-image: url('<%=basicData.cover.url%>'); background-size:cover;">
  <p class="slogan"><%= basicData.slogan %></p>
  <div class="btns">
    <button type="button" class="btn btn-outline-light">About Us</button>
    <a class="btn btn-primary" href="#" role="button">Apply Now</a>
  </div>

</main>

<div class="numbers">
  <div class="info">
    <h1><%= basicData.num1 %></h1>
    <p><%= basicData.text1 %> </p>
  </div>
  <div class="vertical-line"></div>
  <div class="info">
    <h1><%= basicData.num2 %></h1>
    <p><%= basicData.text2 %> </p>
  </div>
  <div class="vertical-line"></div>
  <div class="info">
    <h1><%= basicData.num3 %></h1>
    <p><%= basicData.text3 %> </p>
  </div>
</div>